* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-image: url("./imgs/bg.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #f4f4f4;
}
